/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2016, 4:40:17 PM
    Author     : Norbert_Bagi
*/

body {
    margin: 0;
    padding: 0;
}

div.app {
    height: 768px;
    width: 1024px;
    background: #5c5c5c;
    display: block;
}

p.navigation a {
    width: 45%;
    background: #66afe9;
    display: inline-block;
    padding: 5px;
    text-align: center;
}

p.navigation:after {
    clear: both;
}