/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 9, 2016, 4:40:17 PM
    Author     : Norbert_Bagi
*/

body {
    margin: 0;
    padding: 0;
}

div.app {
    height: 768px;
    width: 1024px;
    background: #5c5c5c;
    display: block;
    position: relative;
}

p.navigation a {
    width: 500px;
    background: #66afe9;
    display: inline-block;
    margin: 5px;
    text-align: center;
}


h1 {
    color: #ffffff;
    clear: left;
    display: block;
}

div#p1 {
    width: 500px;
    background: #fdfdfd;
    display: block;
    float: left;
    margin: 5px;
}

div#p2 {
    width: 500px;
    background: #d4d4d4;
    display: block;
    float: left;
    margin: 5px;
}
